<!-- 
Sketchy lined box: https://codepen.io/piccalilli/pen/MPLzay

-->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Social Card</title>
  <link rel="stylesheet" href="my_socialcard2.css">
</head>
<body>
<div class="sketchy">
  <img src="strikingimage.png" alt="Most striking image in the PDF" style="vertical-align: top; width:200px; height:230px;" id="hp">
  <h2>PDF Title Goes Here</h2>
  <h4>Author 1, Author 2, ...</h4>

  <p>PDF summary goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nec nam aliquam sem et tortor consequat id porta.</p>
  <div class="card">
    <div class="card-body">
      <a href="#" class="card-link">Journal</a>, <a href="#" class="card-link">DOI</a>
    </div>
  </div>
</div>

<br/><br/><br/>

<div class="sketchy">
  <img src="strikingimage.png" alt="Most striking image in the PDF" style="vertical-align: top; width:200px; height:230px;" id="hp">
  <h2>PDF Title Goes Here</h2>
  <h4>Author 1, Author 2, ...</h4>

  <p>PDF summary goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nec nam aliquam sem et tortor consequat id porta.</p>
  <div class="card">
    <div class="card-body">
      <a href="#" class="card-link">Journal</a>, <a href="#" class="card-link">DOI</a>
    </div>
  </div>
</div>

</body>
</html>
